//
   Created by HoraceChan on 2015/8/24.

doctype html
html(lang="en")
   head
      title= options
      script(type='text/javascript').
         if (foo) {
            bar(1 + 5)
         }
   body
      h1 404 NO Found
      =options
      #container.col
         p Get on it!